 /* affairs */
.affairs {
    padding: 0.5em;
    margin: 0.5em;
    font-size: 16px;
    border: 2px solid #e7e7e7;
    min-width: 305px;
    max-width: 400px;
}

.affairs__btn {
    margin: 0 10px 0 0 ;

}

.affairs__buttons .affairs__btn {
    margin: 0 10px 0 0;
}

 /* affair */
.affair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.affair__name {
    width: 100px;
}

.affair__priority {
    width: 100px;
}

.affair .affair__btn {
    margin: 0;
    padding: 0 0.5em;
}

.high {
    color: red;
}

.middle {
    color: rgb(86, 66, 197);
}

.low {
    color: green;
}

 .affairs__btn.active {
    background-color: #e7e7e7;
}