.superInput {
    border: 2px solid #e7e7e7;
    padding: 10px 5px 10px 1px;
    margin: 10px;
}

.superInput:focus {
    border-color: #555;
}

.errorInput {
    border: 2px solid red;
}

.errorInput:focus {
    border-color: red;
}

.error {
    color: red;
}